html,
body {
    font: var(--vscode-editor-font-weight) var(--vscode-editor-font-size) var(--vscode-editor-font-family);
}

*:focus {
    outline: none 0;
}

.bg-editor {
    background: var(--vscode-editor-background);
}

.bg-trans {
    background: url(data:image/gif;base64,R0lGODlhEAAQAIAAAP///8zMzCH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS42LWMxMzggNzkuMTU5ODI0LCAyMDE2LzA5LzE0LTAxOjA5OjAxICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ0MgMjAxNyAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6RTI0NUU1RTAzNzdFMTFFNzk2QkFDN0I4QUEyNzlDQkQiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6RTI0NUU1RTEzNzdFMTFFNzk2QkFDN0I4QUEyNzlDQkQiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpFMjQ1RTVERTM3N0UxMUU3OTZCQUM3QjhBQTI3OUNCRCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpFMjQ1RTVERjM3N0UxMUU3OTZCQUM3QjhBQTI3OUNCRCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PgH//v38+/r5+Pf29fTz8vHw7+7t7Ovq6ejn5uXk4+Lh4N/e3dzb2tnY19bV1NPS0dDPzs3My8rJyMfGxcTDwsHAv769vLu6ubi3trW0s7KxsK+urayrqqmop6alpKOioaCfnp2cm5qZmJeWlZSTkpGQj46NjIuKiYiHhoWEg4KBgH9+fXx7enl4d3Z1dHNycXBvbm1sa2ppaGdmZWRjYmFgX15dXFtaWVhXVlVUU1JRUE9OTUxLSklIR0ZFRENCQUA/Pj08Ozo5ODc2NTQzMjEwLy4tLCsqKSgnJiUkIyIhIB8eHRwbGhkYFxYVFBMSERAPDg0MCwoJCAcGBQQDAgEAACH5BAAAAAAALAAAAAAQABAAAAIfhG+hq4jM3IFLJhoswNly/XkcBpIiVaInlLJr9FZWAQA7);
}

.bg-dark-trans {
    background: url(data:image/gif;base64,R0lGODlhEAAQAIAAADMzM0BAQCH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS42LWMxNDIgNzkuMTYwOTI0LCAyMDE3LzA3LzEzLTAxOjA2OjM5ICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ0MgKFdpbmRvd3MpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjQyM0E4RTcyNTk3RTExRUI5MjAzQ0M1MEJGOUIzQTdCIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjQyM0E4RTczNTk3RTExRUI5MjAzQ0M1MEJGOUIzQTdCIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NDIzQThFNzA1OTdFMTFFQjkyMDNDQzUwQkY5QjNBN0IiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6NDIzQThFNzE1OTdFMTFFQjkyMDNDQzUwQkY5QjNBN0IiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4B//79/Pv6+fj39vX08/Lx8O/u7ezr6uno5+bl5OPi4eDf3t3c29rZ2NfW1dTT0tHQz87NzMvKycjHxsXEw8LBwL++vby7urm4t7a1tLOysbCvrq2sq6qpqKempaSjoqGgn56dnJuamZiXlpWUk5KRkI+OjYyLiomIh4aFhIOCgYB/fn18e3p5eHd2dXRzcnFwb25tbGtqaWhnZmVkY2JhYF9eXVxbWllYV1ZVVFNSUVBPTk1MS0pJSEdGRURDQkFAPz49PDs6OTg3NjU0MzIxMC8uLSwrKikoJyYlJCMiISAfHh0cGxoZGBcWFRQTEhEQDw4NDAsKCQgHBgUEAwIBAAAh+QQAAAAAACwAAAAAEAAQAAACH4xvoKuIzNyBSyYKbMDZcv15HAaSIlWiJ5Sya/RWVgEAOw==);
}

.bg-white {
    background: white;
}

.bg-black {
    background: black;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#__root {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

#__toolbar_parent {
    flex: 0 0 auto;
}

#__toolbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    top: 0;
    min-height: 24px;
    padding-bottom: 1px;
    width: 100%;
    z-index: 10000;
    background: var(--vscode-tab-activeBackground);
    border-bottom: solid 1px var(--vscode-tab-activeBorder);
}

#__toolbar>.btn-group {
    display: inline-flex;
    margin: 0 4px;
    align-items: center;
}

#__toolbar>.btn-group>.btn-bg {
    width: 17px;
    height: 17px;
    border: solid 1px #eee;
}

#__toolbar>.btn-group>.btn {
    position: relative;
    font-size: 10px;
    height: 22px;
    padding: 0 0.5em;
    vertical-align: middle;
    /* editorGroupHeader.tabsBackground */
    border-style: solid;
    border-width: 1px;
    border-color: var(--vscode-editorGroupHeader-tabsBackground);
    /* descriptionForeground */
    color: var(--vscode-descriptionforeground);
    /* welcomePage.buttonBackground: */
    background-color: var(--vscode-welcomepage-buttonBackground);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.btn-label-error {
    border: none 0;
    background-color: var(--vscode-welcomepage-buttonBackground);
    color: var(--vscode-editorWarning-foreground);
}

#__toolbar>.btn-group>.btn:disabled {
    opacity: 0.5;
    user-select: none;
    pointer-events: none;
}

.__toolbar_middle>.btn-group>.btn {
    font-size: 14px !important;
    height: 23px !important;
}

.__toolbar_middle>.btn-group>.label {
    font-size: 12px !important;
}

.__toolbar_large>.btn-group>.btn {
    font-size: 16px !important;
    height: 25px !important;
}

.__toolbar_large>.btn-group>.label {
    font-size: 14px !important;
}

.__toolbar_large>.btn-group>.btn-bg {
    width: 19px !important;
    height: 19px !important;
}

#__toolbar>.btn-group>.btn:hover,
#__toolbar>.btn-group>.btn.active {
    /* background-color: var(--vscode-list-hoverBackground); */
    /* menu.selectionBackground */
    background-color: var(--vscode-menu-selectionBackground);
    color: var(--vscode-menu-selectionForeground);
}

.btn>.label {
    display: inline-block;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-radius: 1em;
    background: #090;
    color: #ccc;
    font-weight: bold;
}

.btn>svg {
    vertical-align: middle;
}

#__toolbar>.btn-group>.label {
    padding: 0 2px;
    font-size: 10px;
    cursor: default;
}

#__host {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
}

#__rule_h_host,
#__rule_v_host {
    flex: 0 0 auto;
    display: none;
}


#__svg_container {
    flex: 1 1 auto;
    overflow: auto;
    max-width: 100vw;
    max-height: 100vh;
}

.with-ruler #__rule_h_host,
.with-ruler #__rule_v_host
{
    display: flex;
}

.--pixel-grid {
    position: absolute;
}

.with-ruler .--pixel-grid {
    left: 12px;
    top: 12px;   
}

#__host_h {
    flex: 1 1 auto;
    display: flex;
}

#__host_v {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

#__svg {
    flex: 1 1 auto;
    display: inline-flex;
}

#__rulerHost {
    position: absolute;
}

.locked svg {
    transform: rotate(-45deg);
}

.__active_svg_sharp__ {
    stroke-width: 1% !important;
    stroke: var(--vscode-textLink-activeForeground) !important;
}

#__svg {
    object-fit: contain;
}